@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Press+Start+2P&display=swap');

.App {
  max-width: 860px;
  margin: 40px auto;
}

#title {
  font-family: 'Press Start 2P', cursive;
}

button {
  font-family: Montserrat;
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}