@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Press+Start+2P&display=swap');

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-size: 1.3EM;
  text-align: center;
  background: #1b1523;
  color: #fff;
}